<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Filmes de Comedia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <ion-card *ngFor="let comedia of filmes" >
        <img [src]="comedia.imagem"/>
        <ion-card-header>
          <ion-card-subtitle>{{comedia.categoria}}</ion-card-subtitle>
          <ion-card-title>{{comedia.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{comedia.descricao}}
        </ion-card-content>
        <ion-item>
            <ion-label>Ja assistiu ?</ion-label>
          <ion-checkbox checked="false"></ion-checkbox>
        </ion-item>
          <ion-item>
              <ion-label>Classificação</ion-label>
              <ion-badge color="danger" slot="end">16</ion-badge>
            </ion-item>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
