<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Filmes de Aventura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-content fullscreen>
      <ion-card *ngFor="let aventura of filmes" >
        <img [src]="aventura.imagem"/>
        <ion-card-header>
          <ion-card-subtitle>{{aventura.categoria}}</ion-card-subtitle>
          <ion-card-title>{{aventura.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{aventura.descricao}}
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
